@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto+Slab:100,300,400');

body {
  @include fonts('Open Sans')
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}