/*-----------------------*/
/*START: 320px*/
/*-----------------------*/
@media (min-width: 200px) and (max-width: 360px) {
  // Navbar
  .navbar {
    padding: 0 .5rem;

    .navbar-header {
      float: left;

      .navbar-brand {
        h4 {
          width: 11rem;
        }
      }
    }

    .navbar-right {
      float: right;
      margin-top: 3rem;

      img {
        width: 10rem;
      }
    }
  }

  .intro {
    padding-top : 50%;

    h1 {
      font-size: 4rem;
    }
  }

  // Background top
  .bg-top {
    height: auto;
  }

  // Section Title
  section.title h4 {
    font-size: 2.4rem;
  }

  // Section Progress
  #section-progress {
    #sliderProgress {
      h2 {
        font-size: 2.2rem;
      }
    }
  }

  // Footer
  .footer {
    @include element('top') {
      .box-images {
        margin-bottom: 1.5rem;
      }
    }
  }
}