/*-----------------------*/
/*START: 768px*/
/*-----------------------*/
@media (min-width: 768px) and (max-width: 992px) {
    // Background top
    .bg-top {
        height: auto;
    }

    // Section Progress
    #section-progress {
        .block-status__image-wrapper img {
            top       : 50%;
            left      : 50%;
            transform : translate(-50%, -50%);
        }

        .hasBorderBottom {
            border-bottom: 0;
        }

        #sliderProgress {
            margin-top: 3rem;
        }
    }

    #section-tab {
        padding-top: 5rem;

        .tab-launchpad ul {
            padding-left : 0;
        }
    }
}
