.block-startup {
  background-color: $dark-slate-blue;
  padding-top: 10rem;
  padding-bottom: 10rem;

  @include element('content') {
    color: $white;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .content-heading {
      margin-bottom: 5rem;

      h4 {
        @include fonts('Roboto Slab');
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .count {
      font-size: 1.8rem;
      @include fonts('Roboto Slab');
      margin-top: 2rem;
    }

    .block-name {
      color : #546e96;
      font-size: 1.4rem;
    }
  }
}