.directory{
  background-color: $bgDirectory;
  padding-top: 8rem;
  padding-bottom: 8rem;

  .title {
    margin-bottom: 5%;
  }

  @include element('filter') {
    .input-group {
      .input-group-addon {
        background-color: $white;
        border-top-left-radius: 3.4rem;
        border-bottom-left-radius: 3.4rem;
        border: 0;
      }

      .form-control {
        box-shadow: none;
        height: 3.8rem;
        border-left: 0;
        border-color: $white;
        border-top-right-radius: 3.4rem;
        border-bottom-right-radius: 3.4rem;
      }
    }

    select.form-control {
      background-color: transparent;
      color: #6682a7;
      border-color: transparent;
    }

    .nav {
      li.dropdown {
        display: inline-block;
        
        a {
          color: $white;

          &:hover,
          &:focus {
            background-color: $dark-slate-blue;
          }
        }
      }

      .dropdown-menu {
        background-color: #264d73;
        color: $white;
        border-radius: 0;
      }
    }
  }

  @include element('content') {
    margin-top: 5rem;
    margin-bottom: 5rem;

    .content {
      @include element('box') {
        position: relative;
        text-align: center;
        margin-bottom: 3rem;

        .images {
          width: 26.2rem;
          height: 26.2rem;
          object-fit: cover;
        }

        &:hover {
          .box {
            @include element('description') {
              height: 100%;
            }
          }
        }

        .box {
          @include element('description') {
            background-color: rgba(19, 44, 76, 0.77);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;

            .text {
              color: white;
              position: absolute;
              overflow: hidden;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);

              .block {
                @include fonts('Roboto Slab');
                font-size: 1.2rem;
                font-weight: bold;
              }

              .type {
                font-size: 1.4rem;
                font-weight: bold;
                letter-spacing: 5;
              }

              .name {
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: bold;
                letter-spacing: -2;
                line-height: 1.1;
                margin-top: 1rem;
              }
            }
          }
        }
      }
    }

    .pagination {
      button {
        display: inline-block;
        padding: 6px 12px;
        background-color: transparent;
        border-color: transparent;
        color: #6682a7;

        &:hover,
        &:focus,
        &:active {
          background-color: $dark-slate-blue;
          color: $white;
          border-color: transparent;
        }

        &.currentPage {
          background-color: #39d0fd;
          color: $white;
          border-radius: 0.5rem;
        }
      }
    }
  }
}