.bg-footer {
  background-image: url("../images/background-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position : relative;
  height: 674px;
}

.footer {
  @include element('top') {
    padding-top: 6rem;

    .title {
      margin-bottom: 5%;
    }

    .box-images {
      img {
        width: 46rem;
      }
    }
  }

  @include element('bottom') {
    background-color: rgba(255, 255, 255, 0.09);
    position : absolute;
    width: 100%;
    bottom: 0;
    text-align: center;

    p {
      padding: 3rem;
      font-size: 1.2rem;
      color : $white;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

