.bg-top {
  background-color: #0e233e;
  background-image: url("../images/background-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1149px;
  position : relative;
}

.intro {
  padding-top: 25%;
  margin-bottom: 20%;
  text-align: center;
  color : $white;
  @include fonts('Roboto Slab')

  h1 {
    font-weight: 300;
    font-size: 6rem;
    padding: 0 1.5rem;
  }
}

/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */
.mouse-icon {
  position: absolute;
  left: 50%;
  top: 55rem;
  border: 2px solid #fff;
  border-radius: 16px;
  height: 50px;
  width: 30px;
  margin-left: -15px;
  display: block;
  z-index: 10;

  .scroll {
    position: relative;
    border-radius: 10px;
    background: #fff;
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mouse-icon .scroll {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: drop;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@-webkit-keyframes drop	{
  0%   { top:5px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}

@keyframes drop	{
  0%   { top:5px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}