.navbar-transparent {
  margin-bottom: 0;
  border-radius: 0;
  padding: 10px 50px;
  background: transparent;
  border-color: rgba(242, 242, 242, 0.18);
  transition: all 0.5s ease-in-out;
}

.navbar-background {
  margin-bottom: 0;
  border-radius: 0;
  padding: 10px 50px;
  background: #0f243e;
  border-color: transparent;
  transition: all 0.5s ease-in-out;
}

.navbar-brand {
  height: 100%;

  h4 {
    font-size: 2rem;
    font-weight: 600;
    color : $white;
    @include fonts('Open Sans')
  }
}

.navbar-right {
  margin-top: .5rem;
}