#section-progress{
	position: relative;
	.block-status{
		@include element('wrapper')
		{
			display: inline-block;
			padding: 10px;
		}

		@include element('number')
		{
			font-size: 18px;
			color: #fff;
		}

		@include element('text')
		{
			font-size: 14px;
			color: #546e96;
		}
		@include element('name')
		{
			font-size: 18px;
			color: #ffffff;
			font-weight: bold;
		}
		
		@include element('image-wrapper')
		{
			height: 70px;
			position: relative;
			img
			{
				@media (min-width: 768px){
					position: absolute;
					bottom: 0;
					left: 50px;

				}
			}
		}
	}

	#sliderProgress {
		margin-top: 1rem;
	}

	.hasBorderBottom{
		@media (min-width: 768px){
			border-bottom: solid 2px #39d0fd;
		}
	}

	img#play-button{
		position: absolute;
		cursor: pointer;
		@media (min-width: 768px){
			left: 45%;
			top: 65%;
		}
		top: 45%;
		left: 40%;
	}

	.rc-slider-disabled
	{
		background: none;
	}
}