#section-tab{
	background-color: #0e233e;
	padding-top: 20px;
	padding-bottom: 75px;
	.tab-launchpad{
		font-family: 'Open Sans', sans-serif;
		ul{
			// border-bottom: solid 1px #061426;
			margin-bottom: 40px;
		}
		.nav-justified>li>a
		{
			border-radius: 0;
			color: #6682a7;
			font-weight: 600;
			font-size: 18px;
			@include on-event {
		        color: #39d0fd;
		        background: transparent;
		      }
		}
		.nav-pills>li.active>a{
			background: transparent;
			border-bottom: solid 2px #39d0fd;
		}
		@media (min-width: 768px){
			ul{
				padding-left: 200px;
			}
			.nav-justified>li {
			    // display: table-cell;
			    width:0;
			}
		}
	}	
}

