section.title {
  margin-top: 5%;
  margin-bottom: 8%;
  color: $white;
  text-align: center;

  h4 {
    font-size: 2.8rem;
    font-weight: 400;
    padding: {
      left: 1.5rem;
      right: 1.5rem;
    }
    @include fonts('Roboto Slab');

    &:after {
      content: '';
      display: block;
      width: 60px;
      margin: 0 auto;
      margin-top: 3rem;
      border-bottom: .2rem solid #39d0fd;
      border-radius: .8rem;
    }
  }
}